img{
	height: 40px;
	width: auto;
}
.ReactTable .-filters{
	display: none;
}

.ReactTable .-header{
	background-color: #fff; /* Background should be a gradient */
	padding: 5px 0;
	color: #000; /* this color is not right */
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td{
	border-right: 0 none;
}

.ReactTable .rt-tbody{
	padding-top: 15px;
}

.ReactTable .rt-tr{
	background-color: rgba(255,255,255,.75);
	border-radius: 5px;
	margin-bottom: 5px;
	transition: all .3s ease;
}

.ReactTable .rt-tr:hover{
	background-color: #fff;
}
.ReactTable .rt-tr .rt-td:first-child{
	flex-direction: row;
}
.ReactTable .rt-tr .rt-td:last-child img{
	filter: invert(82%) sepia(39%) saturate(4302%) hue-rotate(181deg) brightness(101%) contrast(101%); /* this fill is not corrent */
	height: 20px;
}
.ReactTable .rt-td{
	flex-direction: column;
	justify-content: center;
	display: flex;
	border-right: 0 none;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ReactTable .pagination-bottom{
	background-color: rgba(255,255,255,.75);
}
.launch-filters{
	border-top: 1px solid rgba(255,255,255,.75);
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(255,255,255,.75);
	background-color: rgba(255,255,255,.12);
	padding: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.launch-filters button{
	float: left;
	height: 45px;
	width: 45px;
	background: none;
	border: 2px solid #fff;
	border-radius: 22.5px;
}

.launch-filters button:focus{
	outline: none;
}
.launch-filters button img{
	width: 100%;
	height: auto;
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(243deg) brightness(107%) contrast(101%);
}
.launch-filters .filters{
	float: right;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
}
.launch-filters .filters label{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 0;
}

.launch-filters .filters label input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.launch-filters .filters label .checkbox{
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #fff;
}

.launch-filters .filters label .checkbox::after{
	position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  height: 20px;
  width: 20px;
  background-image: url(./images/checkmark.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all .3s ease;
  opacity: 0;
}

.launch-filters .filters label .checkbox.active::after{
	opacity: 1;
}